<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.project.controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.project.controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>com.project.controller.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.project.controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registerservlet</servlet-name>
        <servlet-class>registerservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventoryUpdateController</servlet-name>
        <servlet-class>com.project.controller.InventoryUpdateController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registerservlet</servlet-name>
        <url-pattern>/registerservlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>com.project.controller.CheckoutController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/checkout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PaymentReturnController</servlet-name>
        <servlet-class>com.project.controller.PaymentReturnController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentReturnController</servlet-name>
        <url-pattern>/payment-return</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PaymentCallbackController</servlet-name>
        <servlet-class>com.project.controller.PaymentCallbackController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaymentCallbackController</servlet-name>
        <url-pattern>/payment-callback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventoryUpdateController</servlet-name>
        <url-pattern>/InventoryUpdateController</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
